
/*-------Predefined box_clasess-------------
flate-design | removes border-radius
no-border | removes border on the feed box i.e laradmin-feed
*/



/*Flat design*/
.flat-design .laradmin-feeds,
.flat-design .laradmin-feeds .laradmin-feed{
    border-radius: 0px;
}

/**Feeds*/
.laradmin-feeds{
    /*background-color: #f5f5f5;
    padding: 15px;
    border-radius: 4px;*/

    
    
}

@media(min-width: 768px){
    .laradmin-feeds{
        /*max-width:512px;*/
    }
}
@media(max-width: 768px){
    .laradmin-feeds{
        padding-left:0;
        padding-right:0;
    }
}

/*Feed*/
.laradmin-feed.normal{

}
.laradmin-feed.info{
    
}
.laradmin-feed.success{
    
}
.laradmin-feed.warning{
    
}
.laradmin-feed.danger{
    
}
.laradmin-feed.subtle{
    
}
.laradmin-feed.primary{
    
}
.laradmin-feed{
    background-color: #fff;
    
    padding:0px;
    margin-bottom:15px;
    border:1px solid #ddd;
    border-radius: 4px;

    /* For transition effects*/
    opacity:0.1;
    height: 5px;
    -webkit-transition: height 2s, opacity 4s;/* Safari */
    transition: height 2s, opacity 4s;
}
.no-border .laradmin-feed{
    border: none;
}
.laradmin-feed.normal .top{
    
}
.laradmin-feed.info .top{
    
}
.laradmin-feed.success .top{
    
}
.laradmin-feed.warning .top{
    
}
.laradmin-feed.danger .top{
    
}
.laradmin-feed.subtle .top{
    background-color: rgba(204, 204, 204, 0.26);
}
.laradmin-feed.primary .top{
    
}
.laradmin-feed .top{
    border-bottom:0px solid #f5f5f5;
    padding:12px 12px 2px 12px; 
}
.laradmin-feed .source-icon{
    min-height:50px;
    min-width: 20px;
    font-size: 30px;
    padding-right: 7px;
    color:#ddd;
}

.laradmin-feed .source-info{
    position: relative;
}

.laradmin-feed .source-name{
    
    font-size:13px;
    font-weight: 500;
    color:rgba(20, 20, 20);
    position: absolute;
    top:6px;
}

.laradmin-feed .date,
.laradmin-feed .dynamic-feed-identifier{
    color:#777777b0;
    font-size:78%;
    
    
}
.laradmin-feed .dynamic-feed-identifier{
    
}
.laradmin-feed .title{
    padding:8px 13px 2px 13px; 
    margin: 0px;
}
.laradmin-feed .summary,
.laradmin-feed .content{
    padding:0px 13px 3px 13px; 
    
}
.laradmin-feed .image{
    padding: 3px 0 15px 0;
    text-align: center;
}
.laradmin-feed .image img{
 height: auto;
 max-width: 100%;
}
.laradmin-feed .before-html,
.laradmin-feed .after-html{
    padding-left:13px;
    padding-right:13px;
}
.laradmin-feed .bottom{
    padding:0px 13px 3px 13px; 
}
.laradmin-feed .bottom .share-box{
    
}
.laradmin-feed .bottom .share-btn{
    text-align: right;

    
}
.laradmin-feed .bottom .share-box .twitter-share{
    text-align: right;
}
.laradmin-feed .bottom .share-box .facebook-share{
    overflow: hidden;
    height: 20px;
}