
// Body
$body-bg:#fff; //#f5f8fa;

// Borders
//$laradmin-border-color: darken($body-bg, 10%);
//$list-group-border: $laradmin-border-color;
//$navbar-default-border: $laradmin-border-color;
//$panel-default-border: $laradmin-border-color;
//$panel-inner-border: $laradmin-border-color;

// Possible scheems
// Base=[E2271A] => paletton.com  

//Another good generator:
//https://coolors.co

/*NOTE: list of main colors that need to be found and can be used to generate other colors
1: $brand-primary
2: $brand secondary // Must be based on $brand-primary
3: $gray-dark // Must be based on $brand-primary
*/

//## Gray 
$gray-dark:              #353535;// Must be supper good for text on gray-light bg
$gray:                  #585858;// Must be good for text on $gray-lighter bg
$gray-light:              #757575; // Must be OK for text on white bg
$gray-lighter:             #f4f4f4;// For backgrounds. Not right for text on white bg.

// Brands
$brand-primary:#4A4A7F;
$brand-info:#7EA3CC;
$brand-success: #00cc66;
$brand-warning: #F4A261;
$brand-danger: #ed6a5a;
$brand-subtle:$gray-lighter;
$brand-secondary:#D17A22; 




$defaut-logo-url:"/img/logo.svg";

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 15px;
$line-height-base: 1.6;
$text-color:$gray-dark;// #636b6f;//,#111;

// Navbar
$navbar-default-bg: #fff;


// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: rgba(0,0,0,.6);
$input-border-focus: lighten($input-border, 15%);
$input-color-placeholder: lighten($text-color, 60%);

// Panels
$panel-default-heading-bg: #fff;


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).
$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius-base:         0px !default;
$btn-border-radius-large:        $border-radius-large !default;
$btn-border-radius-small:        0px !default;

//Bethel
$ubr:0;//{0,1}This stands for 'use border radius' set it to 0 to remove border radius that are not 50%, and 1 to allowe them.

$border-radius-round:50%;
